/* 
 * Formwin base styles - these should remain unchanged 
 */

/* 
------------------------------------
label basics and general settings
------------------------------------
*/

/* label container around inputs */
label {
	display: inline-block;
	position: relative; /* so we can do "position: absolute;" inside */
	cursor: default;
	vertical-align: top;
}
label.disabled {
	cursor: auto;
}

/* hide selects, checklboxes and radios behind their value divs */
label select,
label input[type=checkbox],
label input[type=radio] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	outline: none;
}

/* label text span */
label span {
	display: block;
	position: absolute;
}


/* 
------------------------------------
select elements
------------------------------------
*/

/* value div on selects */
label div.selectedvalue:before {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	content: ' '; /* forces redraw in IE8 (this must be different from every other definition) */
}

label:active div.selectedvalue:before, 
label.active div.selectedvalue:before {
	content: '  '; /* forces redraw in IE8 (this must be different from every other definition) */
}

label.focus div.selectedvalue:before, 
label.hover div.selectedvalue:before, 
label:hover div.selectedvalue:before {
	content: '   '; /* forces redraw in IE8 (this must be different from every other definition) */
}

label.focus:active div.selectedvalue:before,
label.focus.active div.selectedvalue:before,
label:hover:active div.selectedvalue:before,
label.active:hover div.selectedvalue:before {
	content: '    '; /* forces redraw in IE8 (this must be different from every other definition) */
}

label.disabled div.selectedvalue:before,
label.disabled.active div.selectedvalue:before,
label.disabled:active div.selectedvalue:before {
	content: '     '; /* forces redraw in IE8 (this must be different from every other definition) */
}

label.focus div.selectedvalue:before,
label.hover div.selectedvalue:before {
	content: '      '; /* forces redraw in IE8 (this must be different from every other definition) */
}

label.active div.selectedvalue:before {
	content: '       '; /* forces redraw in IE8 (this must be different from every other definition) */
}


/* 
------------------------------------
text input elements
------------------------------------
*/
label.formwintexts:before,
label.formwintexts:after {
	display: block;
	position: absolute;
	top: 0;
	line-height: 0.1;                /* so we can have heights lower than default line height */
	font-size: 1px;                  /* so we can have heights lower than default line height */
	content: '';
	overflow: hidden;
}

/* :before is a horizontal container with top-left corner and top border */
label.formwintexts:before {
	left: 0;
	width: 100%;                     /* use entire width */
}

/* :after is a vertical bar to the right of the input and contains right border and bottom-right corner */
label.formwintexts:after {
	right: 0;
	height: 100%;                    /* use entire height */
	overflow: hidden;
}

label.formwintexts textarea,
label.formwintexts input[type=text] {
	display: block;
	padding: 0;
	/* hide all input visuals */
	border: none;
	outline: none;
	background: none;
}

label.formwintexts textarea {
	padding-right: 10px;             /* prevents horizontal scroll bar in IE */
	overflow: auto;                  /* hides scroll bar in IE */
}

/* positive */
label.formwintexts.positive,
label.formwintexts.positive:before,
label.formwintexts.positive:after {
	content: ' '; /* forces redraw in IE8 (this must be different from every other definition) */
}

/* negative */
label.formwintexts.negative,
label.formwintexts.negative:before,
label.formwintexts.negative:after {
	content: '  '; /* forces redraw in IE8 (this must be different from every other definition) */
}

/* active */
label.formwintexts.active,
label.formwintexts.active:before,
label.formwintexts.active:after {
	content: '   '; /* forces redraw in IE8 (this must be different from every other definition) */
}

/* hover */
label.formwintexts.hover,
label.formwintexts.hover:before,
label.formwintexts.hover:after {
	content: '    '; /* forces redraw in IE8 (this must be different from every other definition) */
}

/* positive hover */
label.formwintexts.positive.hover,
label.formwintexts.positive.hover:before,
label.formwintexts.positive.hover:after {
	content: '     '; /* forces redraw in IE8 (this must be different from every other definition) */
}

/* negative hover */
label.formwintexts.negative.hover,
label.formwintexts.negative.hover:before,
label.formwintexts.negative.hover:after {
	content: '      '; /* forces redraw in IE8 (this must be different from every other definition) */
}

/* focus */
label.formwintexts.focus,
label.formwintexts.focus:before,
label.formwintexts.focus:after {
	content: '       '; /* forces redraw in IE8 (this must be different from every other definition) */
}

/* positive focus */
label.formwintexts.positive.focus,
label.formwintexts.positive.focus:before,
label.formwintexts.positive.focus:after {
	content: '        '; /* forces redraw in IE8 (this must be different from every other definition) */
}

/* negative focus */
label.formwintexts.negative.focus,
label.formwintexts.negative.focus:before,
label.formwintexts.negative.focus:after {
	content: '         '; /* forces redraw in IE8 (this must be different from every other definition) */
}

/* disabled */
label.formwintexts.disabled,
label.formwintexts.disabled:before,
label.formwintexts.disabled:after {
	content: '          '; /* forces redraw in IE8 (this must be different from every other definition) */
}


/* 
------------------------------------
button inputs 
------------------------------------
*/
div.formwinbutton {
	display: inline-block;
	position: relative;
}

div.formwinbutton:before {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	content: '';
}

div.formwinbutton input {
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	/* hide all input visuals */
	border: none;
	outline: none;
	background: none;
}

div.formwinbutton.focus:before,
div.formwinbutton.hover:before {
	content: ' '; /* forces redraw in IE8 (this must be different from every other definition) */
}

div.formwinbutton.active:before {
	content: '  '; /* forces redraw in IE8 (this must be different from every other definition) */
}

div.formwinbutton.positive:before {
	content: '   '; /* forces redraw in IE8 (this must be different from every other definition) */
}
