/* formwin base styles - these should remain unchanged */

/* 
------------------------------------
label basics and general settings
------------------------------------
*/
/* label container around input */
label {
	display: inline-block;
	position: relative;              /* so we can do "position: absolute;" inside */
	cursor: default;
}
label.disabled {
	cursor: auto;
}
/* hide selects, checklboxes and radio elements behind their value divs */
label select,
label input[type=checkbox],
label input[type=radio] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	outline: none;
}
/* label text span */
label span {
	display: block;
	position: absolute;
}


/* 
------------------------------------
select elements
------------------------------------
*/
/* value div on selects */
label div.selectedvalue:before {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	content: ' '; /* forces redraw in IE8 (this must be different from every other definition) */
}
label:active div.selectedvalue:before, 
label.active div.selectedvalue:before {
	content: '  '; /* forces redraw in IE8 (this must be different from every other definition) */
}
label.focus div.selectedvalue:before, 
label.hover div.selectedvalue:before, 
label:hover div.selectedvalue:before {
	content: '   '; /* forces redraw in IE8 (this must be different from every other definition) */
}
label.focus:active div.selectedvalue:before,
label.focus.active div.selectedvalue:before,
label:hover:active div.selectedvalue:before,
label.active:hover div.selectedvalue:before {
	content: '    '; /* forces redraw in IE8 (this must be different from every other definition) */
}
label.disabled div.selectedvalue:before,
label.disabled.active div.selectedvalue:before,
label.disabled:active div.selectedvalue:before {
	content: '     '; /* forces redraw in IE8 (this must be different from every other definition) */
}
label.focus div.selectedvalue:before,
label.hover div.selectedvalue:before {
	content: '      '; /* forces redraw in IE8 (this must be different from every other definition) */
}
label.active div.selectedvalue:before {
	content: '       '; /* forces redraw in IE8 (this must be different from every other definition) */
}


/* 
------------------------------------
text input elements
------------------------------------
*/
label.texts:before,
label.texts:after {
	display: block;
	position: absolute;
	top: 0;
	line-height: 0.1;                /* so we can have heights lower than default line height */
	font-size: 1px;                  /* so we can have heights lower than default line height */
	content: '';
	overflow: hidden;

}
/* :before is a horizontal container with top-left corner and top border */
label.texts:before {
	left: 0;
	width: 100%;                     /* use entire width */
}
/* :after is a vertical bar to the right of the input and contains right border and bottom-right corner */
label.texts:after {
	right: 0;
	height: 100%;                    /* use entire height */
	overflow: hidden;
}
label.texts textarea,
label.texts input[type=text] {
	display: block;
	padding: 0;
	/* hide all input visuals */
	border: none;
	outline: none;
	background: none;
}
label.texts textarea {
	padding-right: 10px;             /* prevents horizontal scroll bar in IE */
	overflow: auto;                  /* hides scroll bar in IE */
}
/* positive */
label.texts.positive,
label.texts.positive:before,
label.texts.positive:after {
	content: ' '; /* forces redraw in IE8 (this must be different from every other definition) */
}
/* negative */
label.texts.negative,
label.texts.negative:before,
label.texts.negative:after {
	content: '  '; /* forces redraw in IE8 (this must be different from every other definition) */
}
/* active */
label.texts.active,
label.texts.active:before,
label.texts.active:after {
	content: '   '; /* forces redraw in IE8 (this must be different from every other definition) */
}
/* hover */
label.texts.hover,
label.texts.hover:before,
label.texts.hover:after {
	content: '    '; /* forces redraw in IE8 (this must be different from every other definition) */
}
/* positive hover */
label.texts.positive.hover,
label.texts.positive.hover:before,
label.texts.positive.hover:after {
	content: '     '; /* forces redraw in IE8 (this must be different from every other definition) */
}
/* negative hover */
label.texts.negative.hover,
label.texts.negative.hover:before,
label.texts.negative.hover:after {
	content: '      '; /* forces redraw in IE8 (this must be different from every other definition) */
}
/* focus */
label.texts.focus,
label.texts.focus:before,
label.texts.focus:after {
	content: '       '; /* forces redraw in IE8 (this must be different from every other definition) */
}
/* positive focus */
label.texts.positive.focus,
label.texts.positive.focus:before,
label.texts.positive.focus:after {
	content: '        '; /* forces redraw in IE8 (this must be different from every other definition) */
}
/* negative focus */
label.texts.negative.focus,
label.texts.negative.focus:before,
label.texts.negative.focus:after {
	content: '         '; /* forces redraw in IE8 (this must be different from every other definition) */
}
/* disabled */
label.texts.disabled,
label.texts.disabled:before,
label.texts.disabled:after {
	content: '          '; /* forces redraw in IE8 (this must be different from every other definition) */
}


/* 
------------------------------------
button inputs 
------------------------------------
*/
div.formwinbutton {
	display: inline-block;
	position: relative;
}
div.formwinbutton:before {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	content: '';
}
div.formwinbutton input {
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	/* hide all input visuals */
	border: none;
	outline: none;
	background: none;
}
div.formwinbutton.focus:before,
div.formwinbutton.hover:before {
	content: ' '; /* forces redraw in IE8 (this must be different from every other definition) */
}
div.formwinbutton.active:before {
	content: '  '; /* forces redraw in IE8 (this must be different from every other definition) */
}
div.formwinbutton.positive:before {
	content: '   '; /* forces redraw in IE8 (this must be different from every other definition) */
}
