/*
 * this contains all variable values except sprite image values (fonts, colors, label margins etc.) 
 */

/* label */
label {
	-webkit-font-smoothing: antialiased;
}

/* label position "above" */
label.above {
	margin-top: 20px;                /* label height */
}

label.above span {
	top: -20px;                      /* negative label height */
}

/* label position "right" */
label.right {
	margin-right: 150px;             /* max margin next to input (behind label) */
}

label.right span {
	right: -150px;                   /* negative (label width + margin left to input) */
}

/* label position "below" */
label.below {
	margin-bottom: 20px;
}

label.below span {
	bottom: -20px;                   /* negative (label height + margin bottom to input) */
}

/* label position "left" */
label.left {
	margin-left: 150px;              /* default label width */
}

label.left span {
	left: -150px;                    /* negative label width */
}

/* label fonts */
label span, 
/* input element fonts */
label div.selectedvalue,
label.formwintexts textarea,
label.formwintexts input[type=text],
div.formwinbutton input {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	-webkit-font-smoothing: antialiased;
	color: #333;
}

/* disabled fonts */
label.formwintexts.disabled textarea,
label.formwintexts.disabled input,
label.disabled div.selectedvalue {
	color: #999;
}

/* label fonts */
label span {
	line-height: 20px;
	color: black;
}

/* values on selects */
label div.selectedvalue {
	line-height: 26px;
}

/* button font colors */
div.formwinbutton input {
	color: #333;
}

div.formwinbutton.disabled input {
	color: #ccc;
}

div.formwinbutton.positive input {
	color: green;
}

div.formwinbutton.positive.disabled input {
	color: #9c9;
}

div.formwinbutton.negative input {
	color: red;
}

div.formwinbutton.negative.disabled input {
	color: #c99;
}

div.formwinbutton.custom1 input {
	color: #9f2890;
}

div.formwinbutton.custom1.disabled input {
	color: #bf58c0;
}
